.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.starwarsLogo {
  width: 400px;
}

.searchForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  width: 250px;
}

.field {
  display: flex;
  flex-flow: column;
}

.input {
  height: 25px;
}

.searchBtn {
  width: 100px;
  align-self: center;
  padding: 10px 30px;
  margin: 10px 0;
  background: #ffd538;
  border: none;
  border-radius: 20px;
}

.pagination {
  margin: 5px;
}

.averages {
  background-color: white;
  padding: 15px;
  margin-bottom: 50px;
}
